* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./fcc3ea80-1331-4d49-bb12-c65aeae53592.jpeg'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 300px;
}

h1 {
    color: #c7a021;
    margin-bottom: 20px;
}

.quote-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #055;
}
.quote-author{
    font-style: italic;
    color: maroon;
}

button {
    background-color: #FCCD2A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #927718;
}
